$text: #000;
$black: #111827;
$grey: #4d5562;
$lightGrey: #6b7280;
$accent: #5d5fef;
$bg: #f3f4f6;
$lightBg: #f0f9ff;
$border: #e2e3e5;
$darkBorder: #c4c4c4;

$boxShadow: 0 0.2rem 0.4rem rgba($text, 0.06), 0 0.4rem 0.6rem rgba($text, 0.1);
